input_overlay = "/retroarch/overlays/GameBezels/Sega/segacd.cfg"
input_overlay_enable = "true"
aspect_ratio_index = "23"
custom_viewport_height = "1024"
custom_viewport_width = "1360"
#custom_viewport_x = "280"
#custom_viewport_y = "24"
