input_overlay = "/retroarch/overlays/GameBezels/Sega/mastersystem.cfg"
input_overlay_enable = "true"
aspect_ratio_index = "23"
custom_viewport_height = "1060"
custom_viewport_width = "1400"
#custom_viewport_x = "280"
#custom_viewport_y = "24"
