aspect_ratio_index = "23"
custom_viewport_height = "848"
custom_viewport_width = "1134"
custom_viewport_x = "238"
custom_viewport_y = "126"
#input_auto_game_focus = "2"
#input_auto_mouse_grab = "true"
input_overlay = "/retroarch/overlays/Color_TV.cfg"
input_overlay_enable = "true"
#ui_menubar_enable = "false"
video_viewport_bias_x = "0.000000"
video_viewport_bias_y = "0.000000"
