custom_viewport_height = "1064"
custom_viewport_width = "1440"
#custom_viewport_x = "240"
#custom_viewport_y = "8"
input_overlay = "/retroarch/overlays/GameBezels/Atari7800/Water Ski (USA).cfg"
input_overlay_enable = "true"
