cheevos_enable = "true"
cheevos_badges_enable = "true"
cheevos_challenge_indicators = "true"
cheevos_hardcore_mode_enable = "true"
# must be empty for lboard visibility overrides
cheevos_leaderboards_enable = ""
cheevos_visibility_lboard_cancel = "true"
cheevos_visibility_lboard_start = "false"
cheevos_visibility_lboard_submit = "true"
cheevos_visibility_lboard_trackers = "true"
cheevos_richpresence_enable = "true"
cheevos_start_active = "true"
cheevos_unlock_sound_enable = "true"
cheevos_verbose_enable = "true"
cheevos_visibility_account = "true"
cheevos_visibility_mastery = "true"
cheevos_visibility_progress_tracker = "true"
cheevos_visibility_summary = "1"
cheevos_visibility_unlock = "true"
