content_show_settings = "true"
desktop_menu_enable = "true"
#input_auto_mouse_grab = "true"
menu_mouse_enable = "true"
menu_show_overlays = "true"
quick_menu_show_add_to_favorites = "true"
quick_menu_show_close_content = "true"
quick_menu_show_controls = "true"
quick_menu_show_download_thumbnails = "true"
quick_menu_show_information = "true"
quick_menu_show_options = "true"
quick_menu_show_restart_content = "true"
quick_menu_show_resume_content = "true"
quick_menu_show_save_core_overrides = "true"
quick_menu_show_save_game_overrides = "true"
quick_menu_show_save_load_state = "true"
quick_menu_show_shaders = "true"
quick_menu_show_take_screenshot = "true"
quick_menu_show_undo_save_load_state = "true"
video_context_driver = "vk_wayland"
video_driver = "vulkan"
