#auto_overrides_enable = "false"
config_save_on_exit = "false"
content_show_explore = "false"
content_show_favorites = "false"
content_show_history = "false"
content_show_images = "false"
content_show_music = "false"
content_show_playlist_tabs = "false"
content_show_settings = "false"
content_show_video = "false"
#enable_device_vibration = "false"
history_list_enable = "false"
load_dummy_on_core_shutdown = "true"
#menu_mouse_enable = "false"
menu_show_advanced_settings = "false"
quick_menu_show_add_to_favorites = "false"
quick_menu_show_cheats = "false"
quick_menu_show_close_content = "true"
quick_menu_show_controls = "false"
quick_menu_show_core_options_flush = "false"
quick_menu_show_download_thumbnails = "false"
quick_menu_show_information = "true"
quick_menu_show_options = "true"
quick_menu_show_recording = "false"
quick_menu_show_reset_core_association = "false"
quick_menu_show_restart_content = "true"
quick_menu_show_resume_content = "true"
quick_menu_show_save_content_dir_overrides = "false"
quick_menu_show_save_core_overrides = "false"
quick_menu_show_save_game_overrides = "false"
quick_menu_show_save_load_state = "false"
quick_menu_show_set_core_association = "false"
quick_menu_show_shaders = "true"
quick_menu_show_start_recording = "false"
quick_menu_show_start_streaming = "false"
quick_menu_show_streaming = "false"
quick_menu_show_take_screenshot = "true"
quick_menu_show_undo_save_load_state = "false"
quit_on_close_content = "1"
