content_show_playlist_tabs = "true"
fps_show = "false"
input_auto_game_focus = "2"
#input_auto_mouse_grab = "true"
input_autodetect_enable = "true"
input_driver = "udev"
input_overlay_enable_autopreferred = "true"
kiosk_mode_enabled = "true"
led1_map = "1"
led2_map = "2"
led3_map = "3"
menu_driver = "xmb"
menu_show_configurations = "false"
menu_show_core_updater = "false"
menu_show_dump_disc = "false"
menu_show_eject_disc = "true"
menu_show_help = "true"
menu_show_information = "true"
menu_show_latency = "false"
menu_show_legacy_thumbnail_updater = "false"
menu_show_load_content = "false"
menu_show_load_core = "false"
menu_show_load_disc = "false"
menu_show_online_updater = "false"
menu_show_overlays = "false"
menu_show_quit_retroarch = "true"
menu_show_restart_retroarch = "false"
menu_show_rewind = "false"
menu_show_sublabels = "true"
menu_show_video_layout = "false"
quick_menu_show_add_to_favorites = "true"
quick_menu_show_close_content = "true"
quick_menu_show_core_options_flush = "false"
quick_menu_show_download_thumbnails = "false"
quick_menu_show_information = "true"
quick_menu_show_recording = "true"
quick_menu_show_reset_core_association = "false"
quick_menu_show_restart_content = "false"
quick_menu_show_resume_content = "true"
quick_menu_show_save_content_dir_overrides = "false"
quick_menu_show_save_core_overrides = "false"
quick_menu_show_save_game_overrides = "false"
quick_menu_show_save_load_state = "false"
quick_menu_show_set_core_association = "false"
quick_menu_show_shaders = "false"
quick_menu_show_start_recording = "true"
quick_menu_show_start_streaming = "false"
quick_menu_show_streaming = "false"
quick_menu_show_take_screenshot = "true"
quick_menu_show_undo_save_load_state = "false"
state_slot = "1"
