input_overlay = "/retroarch/overlays/BezelDay/aburner2.cfg"

aspect_ratio_index = "23"
custom_viewport_width = "1330"
custom_viewport_height = "893"
#custom_viewport_x = "295"
#custom_viewport_y = "93"
# Audio volume automatically added from mame aburner2.ini
audio_volume = -9
