aspect_ratio_index = "23"
custom_viewport_height = "1000"
custom_viewport_width = "1370"
#custom_viewport_x = "275"
#custom_viewport_y = "28"
input_overlay = "/retroarch/overlays/BezelDay/asteroid.cfg"
