custom_viewport_height = "896"
#custom_viewport_y = "0"
input_overlay = "/retroarch/overlays/BezelDay/berzerk.cfg"
input_overlay_aspect_adjust_landscape = "-0.020000"
input_overlay_scale_landscape = "1.130000"
video_aspect_ratio = "1.279728"
video_scale_integer = "true"
