input_overlay = "/retroarch/overlays/BezelDay/hcastle.cfg"
aspect_ratio_index = "23"
custom_viewport_width = "1370"
custom_viewport_height = "893"
#custom_viewport_x = "275"
#custom_viewport_y = "93"
# Audio volume automatically added from mame hcastle.ini
audio_volume = -11
