aspect_ratio_index = "23"
custom_viewport_height = "902"
custom_viewport_width = "1232"
#custom_viewport_x = "345"
#custom_viewport_y = "90"
input_overlay = "/retroarch/overlays/BezelDay/moonwlkb.cfg"
