aspect_ratio_index = "23"
custom_viewport_height = "954"
custom_viewport_width = "1210"
#custom_viewport_x = "355"
#custom_viewport_y = "63"
input_overlay = "/retroarch/overlays/BezelDay/rainbow.cfg"
