aspect_ratio_index = "8"
custom_viewport_height = "1021"
custom_viewport_width = "751"
#custom_viewport_x = "585"
#custom_viewport_y = "29"
input_overlay = "/retroarch/overlays/BezelDay/spnchout.cfg"
input_overlay_aspect_adjust_landscape = "-0.035000"
input_overlay_scale_landscape = "1.020000"
