input_overlay = "/retroarch/overlays/BezelDay/troangel.cfg"

aspect_ratio_index = "23"
custom_viewport_width = "1260"
custom_viewport_height = "893"
#custom_viewport_x = "330"
#custom_viewport_y = "93"# Audio volume automatically added from mame troangel.ini
audio_volume = -3
