input_overlay = "/retroarch/overlays/BezelDay/tempest.cfg"
aspect_ratio_index = "20"
custom_viewport_height = "1080"
custom_viewport_width = "1020"
#custom_viewport_x = "450"
#custom_viewport_y = "0"
input_overlay_aspect_adjust_landscape = "0.220000"
input_overlay_scale_landscape = "1.050000"
video_aspect_ratio = "0.879999"
video_shader_enable = "false"
