[Desktop Entry]
Categories=Application;Game;
Comment[en_US]=classic paddle & ball game
Comment=classic paddle & ball game
Exec=retroarch '--appendconfig=/retroarch/play.cfg|/retroarch/desktop.cfg' '--set-shader=/retroarch/config/VICE xvic/rhurst.slangp' -L vice_xvic '/retroarch/roms/homebrews/VIC20/8KB/break-out!.prg'
GenericName[en_US]=
GenericName=
Icon=break-out-Default
MimeType=
Name[en_US]=Break-Out!
Name=Break-Out!
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
