#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=RetroAchievements
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=hbaalihnlgfhdefcdnkjfoifonkjhkmc
Icon=chrome-hbaalihnlgfhdefcdnkjfoifonkjhkmc-Default
StartupWMClass=crx_hbaalihnlgfhdefcdnkjfoifonkjhkmc
