#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Xbox Cloud Gaming
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=chcecgcbjkilfgeccdhoeaillkophnhg
Icon=chrome-chcecgcbjkilfgeccdhoeaillkophnhg-Default
StartupWMClass=crx_chcecgcbjkilfgeccdhoeaillkophnhg
