[Desktop Entry]
Categories=Game;BoardGame;GTK;
Comment[en_US]=GTK or console backgammon program with analysis
Comment=GTK or console backgammon program with analysis
Exec=gnubg -w
GenericName[en_US]=Backgammon
GenericName=Backgammon
Icon=gnubg
Keywords=analysis;tutor;
MimeType=
Name[en_US]=Backgammon
Name=Backgammon
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
