input_overlay = "/retroarch/overlays/GameBezels/Intellivision/Chip Shot - Super Pro Golf (World).cfg"
aspect_ratio_index = "23"
custom_viewport_height = "1080"
custom_viewport_width = "1440"
#custom_viewport_x = "240"
#custom_viewport_y = "0"
